<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EventEaseApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="events">
                <span class="bi bi-calendar-event-nav-menu" aria-hidden="true"></span> Events
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="events/details">
                <span class="bi bi-info-circle-fill-nav-menu" aria-hidden="true"></span> Event Details
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="events/register">
                <span class="bi bi-pencil-square-nav-menu" aria-hidden="true"></span> Register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="session-demo">
                <span class="bi bi-pencil-square-nav-menu" aria-hidden="true"></span> Session Demo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="attendance">
                <span class="bi bi-pencil-square-nav-menu" aria-hidden="true"></span> Attendance Tracker
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
